*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
application/config/database.php
application/config/config.php
.idea/betterMeWeb.iml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
application/config/config.php
application/config/database.php
uploads/images/CCO-login-blue.png
uploads/images/CCO-login-blue1.png
uploads/images/CCO-login-blue2.png
uploads/images/CCO-login-blue3.png
uploads/images/CCO-login-blue4.png
uploads/images/CCO-login-blue5.png
uploads/images/CCO-login-blue6.png
uploads/images/CCO-login-blue7.png
uploads/posts/breakfast.PNG
uploads/posts/Capture.JPG
uploads/posts/fish.PNG
uploads/posts/paleo2.JPG
uploads/posts/paleo1.JPG
uploads/posts/paleo.JPG
uploads/posts/lowSugarPNG6.PNG
uploads/posts/lowSugarPNG5.PNG
uploads/posts/lowSugarPNG4.PNG
uploads/posts/lowSugarPNG3.PNG
uploads/posts/lowSugarPNG2.PNG
uploads/posts/lowSugarPNG1.PNG
uploads/posts/lowSugarPNG.PNG
uploads/posts/index.jpg
uploads/posts/images.jpg
uploads/posts/howto7.PNG
uploads/posts/howto6.PNG
uploads/posts/howto5.PNG
uploads/posts/howto4.PNG
uploads/posts/howto3.PNG
uploads/posts/howto2.PNG
uploads/posts/howto1.PNG
uploads/posts/howto.PNG
uploads/posts/fruits8.PNG
uploads/posts/fruits7.PNG
uploads/posts/fruits6.PNG
uploads/posts/fruits5.PNG
uploads/posts/fruits4.PNG
uploads/posts/fruits3.PNG
uploads/posts/fruits2.PNG
uploads/posts/fruits1.PNG
uploads/posts/fruits.PNG
uploads/posts/fish5.PNG
uploads/posts/fish4.PNG
uploads/posts/fish3.PNG
uploads/posts/fish2.PNG
uploads/posts/fish1.PNG
uploads/posts/breakfast1.PNG
uploads/posts/Capture2.JPG
uploads/posts/demon-slayers-hashiras-giyu-and-shinobu-wallpaper-1920x1200-42557_61.jpg
uploads/posts/fish6.PNG
uploads/posts/fruits9.PNG
uploads/profilepic/profile92.jpg
/uploads/posts/
uploads/profile_posts/fruits.PNG
uploads/profile_posts/fish.PNG
uploads/profile_posts/demon-slayers-hashiras-giyu-and-shinobu-wallpaper-1920x1200-42557_6.jpg
uploads/profile_posts/Capture.JPG
uploads/profile_posts/breakfast.PNG
